body {
    margin: 0;
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    color: #fff;
    width: 100%;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    color: #fff;
    padding: 20px;
}
.footer-section {
    flex: 1;
    padding: 10px;
}
.footer-section h3 {
    border-bottom: 2px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.footer-section p, 
.footer-section a {
    color: #fff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}

.social-media {
    list-style: none;
    padding: 0;
}

.social-media li {
    margin: 5px 0;
}

.footer-links {
    list-style: none;
    padding: 0;
}

.footer-links li {
    margin: 5px 0;
}

.footer-bottom {
    text-align: center;
    background-color: #222;
    color: #fff;
    padding: 10px 0;
    margin-top: 20px;
}

/* Home page specific styles */
body.home-page {
    background-image: url('Images/skyline.jpg'); /* Path to your background image */
    background-size: cover; /* Ensures the image covers the whole background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the background image fixed when scrolling */
    background-position: center; /* Centers the background image */
    color: white; /* Ensures text is readable */
    margin: 0;
    font-family: 'Arial Rounded MT Bold', Arial, sans-serif;
    width: 100%;
}

@media only screen and (max-width: 1200px) {
    body.home-page{
        background-image: url('Images/afghan.jpg');
        background-size: cover; /* Ensures the image covers the whole background */
        background-repeat: no-repeat; /* Prevents the image from repeating */
        background-attachment: fixed; /* Keeps the background image fixed when scrolling */
        background-position: center;
    }
}

body.prayer-meeting-materials-page,
body.islam-page,
body.become-a-leader-page,
body.outerspace-page,
body.collaboration-page,
body.coming-soon-page {
    background-color: black;
}

header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    display: flex;
    align-items: center;
    z-index: 1000;
}

header .logo {
    font-size: 24px;
    margin-right: 20px;
}

header .logo a {
    color: #fff;
    text-decoration: none;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-grow: 1;
}

header ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-items: center;
}

header ul li {
    margin-right: 10px;
    position: relative;
}

header ul li:last-child {
    margin-right: 0;
}

header ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
    padding: 10px; /* Added padding around the links */
    background-color: black; /* Black padding around buttons */
}

header ul li a:hover {
    color: #ffffff;
    border-radius: 10px;
}

header ul li.dropdown:hover .dropdown-content {
    display: block;
}

header ul li .dropdown-content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: #808080;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    overflow: hidden;
}

header ul li .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 10px;
    margin: 5px;
}

header ul li .dropdown-content a:hover {
    background-color: #a0a0a0;
}

.content-section {
    padding: 10px 0px;
    background: transparent;
    text-align: center;
    position: relative;
    min-height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-block {
    margin-top: 30px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 80%;
    margin: 5px, 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

@media only screen and (max-width: 1200px) {
    .content-block {
    margin-top: 70px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    width: 80%;
    margin: 5px, 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
    }
}

.content-block:hover {
    transform: scale(1.05);
}

.content-block h1, .content-block h2 {
    font-size: 36px;
    margin: 10px 0;
}

.content-block p {
    font-size: 20px;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    margin: 20px 0;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    font-size: 16px;
    border-radius: 10px;
    width: 50%;
    text-align: center;
    line-height: normal;
    transition: background-color 0.3s, transform 0.3s;
}

.button:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pdf-container {
    width: 90%; /* Adjust to desired width */
    height: 80vh; /* Adjust to desired height */
    margin: 20px auto;
    background: #fff;
    padding: 10px;
    border-radius: 10px;
}

.pdf-container iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 768px) {
    .content-block h1, .content-block h2 {
        font-size: 24px;
    }
    .button {
        font-size: 14px;
        width: 70%;
    }
}

.home-page .fade-in {
    animation: fadeIn 2s ease-in;
}

.home-page .slide-in-left {
    animation: slideInLeft 1s ease-out;
}

.home-page .slide-in-right {
    animation: slideInRight 1s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
